  <section class="">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3>User</h3>
        <p>Name: <%= @user.name if @user.name %></p>
        <p>Email: <%= @user.email if @user.email %></p>
      </div>
    </div>
  </div>
</section>