   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; 2014</span><br>
        <span class="copyright">Code can be found on <a href="https://github.com/corbinpage/rails-devise">Github</a></span><br>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <span class="copyright">Built By <a href="http://www.corbinpage.com">Corbin Page</a></span><br>
        <span class="copyright">With <a href="http://railsapps.github.io/">RailsApp</a> and <a href="http://startbootstrap.com/template-overviews/agency/">Start Bootstrap</a></span>
      </div>
    </div>
  </div>